<!DOCTYPE html>
<html>
  <head>
    <title>CurrenciesBula31992</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/admin">Admin</a>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
